@model BookStore.Site.Models.DTOs.CartEntity

@{
    ViewBag.Title = "Info";
}
<style>
    .total {
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        height: 1.5rem;
    }

        .total h4 {
            /*display: inline-block;*/
            margin-top: 0px;
            height: 1.5rem;
        }

        .total p {
            height: 1.5rem;
            padding-left: 20px;
            font-size: 16px;
            font-weight: 800;
        }
        .total .checkout {
            padding-left: 20px;
        }
</style>

<h2>Info</h2>

<table class="table">
    <tr>
        <th>
            商品
        </th>
        <th>
            數量
        </th>
        <th>
            小計
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GetItems())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                <button class="btn btn-sm btn-danger delQty" data-id="@item.Product.Id" data-qty="@item.Qty">減一</button>
                <button class="btn btn-sm btn-primary addQty" data-id="@item.Product.Id" data-qty="@item.Qty">加一</button>
            </td>
        </tr>
    }

</table>
<div class="total">
    <h4>Total:</h4><p>@Model.Total.ToString("#,#")</p>
    
    @if (@Model.AllowCheckout)
    {
        <div class="checkout">
            <a href="/Cart/Checkout/" class="btn btn-primary">結帳</a>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $(".addQty").each(function () {
                $(this).on("click", function () {
                    var self = $(this);

                    var productId = self.attr("data-id");
                    var newQty = parseInt(self.attr("data-qty")) + 1;

                    // ajax 送出 request
                    $.get("/Cart/UpdateItem?productId=" + productId + "&newQty=" + newQty,
                        null,
                        function (result) {
                            // alert("已加入購物車");
                            location.reload();
                        });
                });

            });

            $(".delQty").each(function () {
                $(this).on("click", function () {
                    var self = $(this);

                    var productId = self.attr("data-id");
                    var newQty = parseInt(self.attr("data-qty")) - 1;

                    // ajax 送出 request
                    $.get("/Cart/UpdateItem?productId=" + productId + "&newQty=" + newQty,
                        null,
                        function (result) {
                            // alert("已加入購物車");
                            location.reload();
                        });
                });

            });
        })
    </script>
}


